<!-- you could likely put the flash into the application layout so that you don't have to include it explicitly in every view -->
<p> <%= flash[:notice] %> </p>
<h1> Create a Need </h1>
<%= render 'form' %>
