<% if @group.default_group?(@user) %>
<div class="badge">Default Group </div>
<% elsif @group.member?(@user) %>
<%= link_to "Make Default Group", set_default_group_path(@group) %>
<% end %>



<div class="avatar">
<%= image_tag( @group.photo.url(:thumb), 
                class: 'thumbnail') %>
</div>
<h2> <%= @group.title %> </h2>
<h4> <%= @group.description %> </h4>


