# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 716874dab53f88d00f77c3b564587f75822b4f829a05e535cea226f518565a8b7a68553096d2830a1b6f79719c9cfe1990a9642fb142c79a46690b9b25cebc54

test:
  secret_key_base: 31966b3c5d5996f151d595197411b609bf98836b7a1aab7f05c4d7f4903b4e99f9f611ec9581d3eb68b70a2a8ab05b0280ae5f923312c974fbb4e82e71fe30ab

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
# heroku config:add SECRET_KEY_BASE=
# rake secret generates a key base