<!DOCTYPE html>
<html>
  <head>
    <title>GitErDone</title>
    <%= stylesheet_link_tag "tachyons.min" %>
<!--     <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %> -->
    
  </head>

  <body class="avenir pa5 lh-copy">
    <%= yield %>
  </body>
</html>
